.schedule-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 1rem;

  .form-section {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }

  .calendar-header {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
  }

  .calendar-grid {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

    .day {
      padding: 1rem;
      background: #f8f9fa;
      border: 1px solid #ddd;
      border-radius: 8px;
      text-align: center;

      &.turno-dia { background-color: #e00f0f; }
      &.turno-noite { background-color: #e00f0f; }
      &.folga-1 { background-color: #0c6a18; }
      &.folga-2 { background-color: #0c6a18; }
    }
  }

  .day.empty {
    background: transparent;
    border: none;
  }

}
