<div class="main-content">
  <div class="header">
    <h2>Lista de Clientes</h2>
  </div>

  <div class="filter">
    <input (ngModelChange)="search()" [(ngModel)]="searchValue" nz-input placeholder="Pesquisar..." />
    <button (click)="openDrawer()" nz-button nzType="primary">Novo Cliente</button>
  </div>

  <div class="table-container">
    <nz-table [nzData]="customers" [nzScroll]="{ y: '300px' }" nzBordered>
      <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>Registrado em</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.registrationDate | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>
          <button (click)="editCustomer(customer)" nz-button nzType="link">
            <nz-icon nzType="edit"></nz-icon>
          </button>
          <button (click)="deleteCustomer(customer)" nz-button nzDanger nzType="link">
            <nz-icon nzType="delete"></nz-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-drawer
  [nzVisible]="isDrawerVisible"
  [nzTitle]="drawerTitle"
  [nzWidth]="400"
  [nzFooter]=nzDrawerfooter
  (nzOnClose)="closeDrawer()"
>
  <form *nzDrawerContent [formGroup]="customerForm" nz-form>
    <nz-form-item>
      <nz-form-label nzFor="name" nzRequired>Nome</nz-form-label>
      <nz-form-control>
        <input formControlName="name" nz-input placeholder="Nome do cliente"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="email" nzRequired>Email</nz-form-label>
      <nz-form-control>
        <input formControlName="email" nz-input placeholder="Email"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="phone" nzRequired>Telefone</nz-form-label>
      <nz-form-control>
        <input formControlName="phone" nz-input placeholder="Telefone"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="address" nzRequired>Endereço</nz-form-label>
      <nz-form-control>
        <input formControlName="address" nz-input placeholder="Endereço"/>
      </nz-form-control>
    </nz-form-item>
  </form>

  <ng-template #nzDrawerfooter>
    <button nz-button (click)="closeDrawer()">Cancelar</button>
    <button nz-button nzType="primary" [disabled]="!customerForm.valid" (click)="submitCustomer()">Salvar</button>
  </ng-template>
</nz-drawer>
